@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* 
desktop: 1440px 900px
ipad: 810px 1080px
iphone: 375px 812px 
*/

.background {
  width: 100%;
  height: 100%;
  background-color: #00b2a2;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* .background-grid {
  position: absolute;
  display: grid;
  grid-template: repeat(14, 6rem) / repeat(14, 6rem);
  gap: .5rem;
  transform: rotate(-45deg) translateY(-18.3rem);
  padding: .5rem;
}

.whitespace {
  background-color: white;
  grid-area: 2 / 6;
  border-radius: 10%;
} */

.grid {
  display: grid;
  grid-template: repeat(10, 6rem) / repeat(10, 6rem);
  gap: .5rem;
  transform: rotate(-45deg);
  background-color: white;
  padding: .5rem;
}

.grid-item {
  &:nth-child(8n + 1), &:nth-child(8n + 2) {
    background-color: #ee137f;
  }
  
  &:nth-child(8n + 3), &:nth-child(8n + 4) {
    background-color: #00b2a2;
  }

  &:nth-child(8n + 5), &:nth-child(8n + 6) {
    background-color: white;
  }
  
  &:nth-child(8n + 7), &:nth-child(8n + 8) {
    background-color: black;
  }

  &.title {
    z-index: 1;
    padding-left: 1rem;
    font-size: 6.5rem;
    font-weight: bold;
    line-height: 1;
  }
    
  &.info {
    z-index: 1;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &.pink {
    background-color: #ee137f;
  }

  &.green {
    background-color: #00b2a2;
  }
  
  &.white {
    background-color: white;
  }

  &.span2 {
    grid-column: span 2;
  }

  &.span3 {
    grid-column: span 3;
  }

  &.span6 {
    grid-column: span 6;
  }
}